@media (max-width: 1200px)
  .container
    max-width: 90%

@media (max-width: 992px)
  .container
    max-width: 90%

@media (max-width: 768px)
  .container 
    max-width: 90%
  // header
  .header
    margin-bottom: 30px
    &__navbar
      display: none
          
  .button
    &-menu
      display: flex
      flex-direction: column
      justify-content: space-between
      justify-items: center
      width: 22px
      height: 17px
      border: none
      outline: none
      background: none
      padding: 0
      margin: 0
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: $mobile-menu
  //header

  //hero
  .hero
    margin-bottom: 80px
    &__bg-wrap
      width: 728px  
      left: 50%
      transform: translate(-80%)  
    &-bg
      overflow: hidden
      object-fit: cover
      height: 624px
    &-wrapper
      padding: 42px 0 36px 0
    &__title
      font-size: 48px
      line-height: 60px
      margin: 24px 0 20px 0
    &__text
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px 
    &__button
      margin-bottom: 40px


  //hero

@media (max-width: 480px)
  .container
    max-width: 90%

@media (max-width: 320px)
  .container 
    max-width: 272px

  // header
  .header
    margin-bottom: 24px
  //header


   //hero
  .hero
    margin-bottom: 80px
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
    &__bg-wrap
      left: 50%
      transform: translate(-115%)
    &-wrapper
      padding: 383px 0 36px 0
      text-align: center
    &__title
      font-size: 32px
      line-height: 40px
    &__text
      font-size: 16px
      line-height: 28px  
    &__button
      font-size: 16px
      line-height: 22px 
    &__advantages
      flex-wrap: wrap
      &-item
        justify-items: center
        &--ml
          margin-left: 35%
          margin-top: 16px
      &-text
        font-size: 15px


  //hero 