// colors 

$bg-color: #E5E5E5
$primary: #183B56
$text: #5A7184
$light-text: #FFFFFF
$blue: #1565D8
$light-grey: #B3BAC5
$grey: #959EAD

// colors

// fonts

@font-face 
	font-family: "OpenSans"
  src: url("../fonts/open-sans/OpenSans-Regular.woff") format("woff")
	src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2")
	font-style: normal
  font-weight: normal
@font-face 
	font-family: "OpenSans-Bold"
	src: url("../fonts/open-sans/OpenSans-Bold.woff") format("woff")
	src: url("../fonts/open-sans/OpenSans-Bold.woff2") format("woff2")
	font-style: normal
  font-weight: 600
@font-face 
	font-family: "OpenSans-SemiBold"
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff") format("woff")
	src: url("../fonts/open-sans/OpenSans-SemiBold.woff2") format("woff2")
	font-style: normal
  font-weight: 700

$open-sans: 'OpenSans', sans-serif
$open-sans600: 'OpenSans-Bold', sans-serif
$open-sans700: 'OpenSans-SemiBold', sans-serif

@font-face 
	font-family: "HKGrotesk"
  src: url("../fonts/hk-grotesk/HKGrotesk-Regular.woff") format("woff")
	src: url("../fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2")
	font-style: normal
  font-weight: normal
@font-face 
	font-family: "HKGrotesk-Bold"
	src: url("../fonts/hk-grotesk/HKGrotesk-Bold.woff") format("woff")
	src: url("../fonts/hk-grotesk/HKGrotesk-Bold.woff2") format("woff2")
	font-style: normal
  font-weight: 600
@font-face 
	font-family: "HKGrotesk-SemiBold"
  src: url("../fonts/hk-grotesk/HKGrotesk-SemiBold.woff") format("woff")
	src: url("../fonts/hk-grotesk/HKGrotesk-SemiBold.woff2") format("woff2")
	font-style: normal
  font-weight: 700

$hk-grotesk: 'HKGrotesk', sans-serif
$hk-grotesk600: 'HKGrotesk-Bold', sans-serif
$hk-grotesk700: 'HKGrotesk-SemiBold', sans-serif

// fonts