@media (max-width: 1200px)
  .container
    max-width: 90%

  //header
  //header

  //hero
  //hero

  //collection
  .collection
    &-images
      display: grid
      grid-template-columns: repeat(2, 265px)
      grid-auto-rows: max-content
      grid-gap: 20px
      align-content: center
  //collection
  
  //trending
  .trending
    &-card
      grid-template-columns: repeat(4, 22.81%)
      justify-content: center
      &__images
        &--more
          padding: 38% 0 38% 0
 

  //trending

  //testimonial
  //testimonial

  //stories
  //stories
  
  //newsletter
  .newsletter
    &-wrapper
      max-width: 890px
    &-text
      max-width: 470px
  .subscribe
    width: 385px
    &__button
      min-width: 130px
  //newsletter

  //footer
  .footer
    &-top
      grid-template-columns: 220px repeat(4, minmax(135px, max-content))  
  //footer