.trending
  margin-bottom: 145px
  &-top
    &__wrapper
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 48px
    &__title
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      font-family: $hk-grotesk700
      margin: 0
    &__category
      display: flex
    &__item
      margin-right: 38px
      &:last-child
        margin-right: 0  
    &__link
      font-size: 18px
      line-height: 25px
      color: $text
  &-card
    display: grid
    grid-template-columns: repeat(4, 260px)
    grid-column-gap: 30px
    grid-row-gap: 50px
    &__icon
      position: relative
      left: 50%
      transform: translate(-50%) 
      margin: auto 
    &__images
      border-radius: 8px
      overflow: hidden
      max-height: 350px
      &--more
        background-color: $blue
        max-height: 350px
        padding: 120px 0 104px 0
    &__title
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      font-family: $hk-grotesk700
      margin: 20px auto 3px 10px
    //   &--more
    //     font-size: 24px
    //     line-height: 32px
    //     color: $bg-color
    //     padding: 0 75px 0 75px
    //     margin: auto
    //     margin-top: 25px 
    //     text-align: center
    &__wrapper
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0 10px
    &__price
      color: $text
      font-size: 20px
      line-height: 36px


    


